<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name: <%= params["name"] %></h1>
   <h2>Coach: </h2>
   <h2>Point Guard:</h2>
   <h2>Shooting Guard:</h2>
   <h2>Small Forward:</h2>
   <h2>Power Forward:</h2>
   <h2>Center:</h2>


 </body>
</html>
